*.js
!jest.config.js
!jest.config.unit.js
!jest.config.integration.js
!pipelines_webinar/canary/nodejs/node_modules/apiCall.js

*.d.ts
node_modules
!pipelines_webinar/canary/nodejs/node_modules


# CDK asset staging directory
.cdk.staging
cdk.out

# Parcel default cache directory
.parcel-cache
.vscode
